<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><font color=blue><%= __('下一篇') %></font></strong>
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <font color=blue><%= post.prev.title %></font>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><font color=blue><%= __('上一篇') %></font></strong>
      <div class="article-nav-title"><font color=blue><%= post.next.title %></font></div>
    </a>
  <% } %>
</nav>
<% } %>